header.header
	.header__main
		.container
			.header__line
				.header__left
					.header__logo
						a(href="#")
							img(src="img/logo.svg", alt="okna.ua", role="logo").header__logo-img
					nav.nav
						ul.nav__list
							li.nav__item
								.nav__item-caption ОКНА
								//- .nav__sm
									.sm
										.sm__row
											.sm__side.sm__side--left
												ul.sm__list
													li.sm__list-item
														a(href="#" data-group="groupWindow1").sm__list-item-text items 1.1
													li.sm__list-item
														a(href="#" data-group="groupWindow2").sm__list-item-text items 1.2
													li.sm__list-item
														a(href="#" data-group="groupWindow3").sm__list-item-text items 1.3
													li.sm__list-item
														a(href="#" data-group="groupWindow4").sm__list-item-text items 1.4
													li.sm__list-item
														a(href="#" data-group="groupWindow5").sm__list-item-text items 1.5

											.sm__main
												.sm__group.js-group#groupWindow1
													h4.sm__gorup-title items 1.1
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.3
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.4
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.5
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.6
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.7
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.8
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.9
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.10
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.11
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.12
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.1.13

												.sm__group.js-group#groupWindow2
													h4.sm__gorup-title items 1.2
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.2.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.2.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.2.3
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.2.4
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.2.5
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.2.6
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.2.7

												.sm__group.js-group#groupWindow3
													h4.sm__gorup-title items 1.3
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.3.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.3.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.3.3
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.3.4
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.3.5
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.3.6

												.sm__group.js-group#groupWindow4
													h4.sm__gorup-title items 1.4
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.4.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.4.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.4.3
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.4.4
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.4.5
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.4.6
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.4.7
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.4.8
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.4.9
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.4.10

												.sm__group.js-group#groupWindow5
													h4.sm__gorup-title items 1.5
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.5.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.5.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 1.5.3
				
											.sm__side.sm__side--right
												.sm__img-wrap
													img(src="", alt="").sm__img
							li.nav__item
								a(href="#").nav__item-caption РЕЙТИНГ
							li.nav__item
								a(href="#").nav__item-caption калькуляторы
							li.nav__item
								.nav__item-caption ОБЪЯВЛЕНИЯ
								//- .nav__sm
									.sm
										.sm__row
											.sm__side.sm__side--left
												ul.sm__list
													li.sm__list-item
														a(href="#" data-group="groupAdvert1").sm__list-item-text items 2.1
													li.sm__list-item
														a(href="#" data-group="groupAdvert2").sm__list-item-text items 2.2
													li.sm__list-item
														a(href="#" data-group="groupAdvert3").sm__list-item-text items 2.3
													li.sm__list-item
														a(href="#" data-group="groupAdvert4").sm__list-item-text items 2.4
													li.sm__list-item
														a(href="#" data-group="groupAdvert5").sm__list-item-text items 2.5

											.sm__main
												.sm__group.js-group#groupAdvert1
													h4.sm__gorup-title items 2.1
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.3
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.4
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.5
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.6
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.7
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.8
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.9
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.10
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.11
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.12
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.1.13

												.sm__group.js-group#groupAdvert2
													h4.sm__gorup-title items 2.2
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.2.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.2.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.2.3
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.2.4
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.2.5
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.2.6
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.2.7

												.sm__group.js-group#groupAdvert3
													h4.sm__gorup-title items 2.3
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.3.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.3.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.3.3
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.3.4
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.3.5
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.3.6

												.sm__group.js-group#groupAdvert4
													h4.sm__gorup-title items 2.4
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.4.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.4.2


												.sm__group.js-group#groupAdvert5
													h4.sm__gorup-title items 2.5
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.5.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.5.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 2.5.3
				
											.sm__side.sm__side--right
												.sm__img-wrap
													img(src="", alt="").sm__img
							li.nav__item
								a(href="#").nav__item-caption ТЕНДЕРЫ
							li.nav__item
								a(href="#").nav__item-caption ТОВАРЫ
							li.nav__item
								.nav__item-caption Еще
								//- .nav__sm
									.sm
										.sm__row
											.sm__side.sm__side--left
												ul.sm__list
													li.sm__list-item
														a(href="#" data-group="groupMore1").sm__list-item-text items 3.1
													li.sm__list-item
														a(href="#" data-group="groupMore2").sm__list-item-text items 3.2
													li.sm__list-item
														a(href="#" data-group="groupMore3").sm__list-item-text items 3.3
													li.sm__list-item
														a(href="#" data-group="groupMore4").sm__list-item-text items 3.4
													li.sm__list-item
														a(href="#" data-group="groupMore5").sm__list-item-text items 3.5

											.sm__main
												.sm__group.js-group#groupMore1
													h4.sm__gorup-title items 3.1
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.3
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.4
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.5
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.6
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.7
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.8
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.9
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.10
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.11
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.12
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.1.13

												.sm__group.js-group#groupMore2
													h4.sm__gorup-title items 3.2
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.2.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.2.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.2.3
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.2.4
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.2.5
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.2.6
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.2.7

												.sm__group.js-group#groupMore3
													h4.sm__gorup-title items 3.3
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.3.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.3.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.3.3
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.3.4
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.3.5
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.3.6

												.sm__group.js-group#groupMore4
													h4.sm__gorup-title items 3.4
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.4.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.4.2


												.sm__group.js-group#groupMore5
													h4.sm__gorup-title items 3.5
													ul.sm__gorup-list
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.5.1
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.5.2
														li.sm__gorup-item
															a(href="#").sm__gorup-item-link  item 3.5.3
				
											.sm__side.sm__side--right
												.sm__img-wrap
													img(src="", alt="").sm__img
				.header__right
					.header__lang
						select
							option(value="ru") рус
							option(value="ua") укр
							option(value="en") анг

					a(href="#").user-pic
						.user-pic__wrap
							svg.user-pic__img
								use(xlink:href="img/sprite.svg#user")
						
						
	.container
		.header__search
			form(action="").search-bar
				label(for="searcher").search-bar__icon
					svg.search-bar__img: use(xlink:href="img/sprite.svg#lens")
				input(type="text", 
					  placeholder="Find the best window company...",
					  name="search",
					  id="searcher", 
					  aria-label="Поиск",
					  autocomplete="off").search-bar__input
				.search-bar__select
					select
						option 9234 Компании
						option Компания 1
						option Компания 2
						option Компания 3
